/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

&ocp {
	P9_31_pinmux {
		status = "disabled";
	};
	P9_29_pinmux {
		status = "disabled";
	};
	P9_30_pinmux {
		status = "disabled";
	};
	P9_42_pinmux {
		status = "disabled";
	};
	P9_28_pinmux {
		status = "disabled";
	};
	P9_23_pinmux {
		status = "disabled";
	};
	P8_12_pinmux {
		status = "disabled";
	};
};

&spi1 {

	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pxf_pins>;
	ti,pindir-d0-out-d1-in = <1>;

	spidev2: spi@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <16000000>;
		spi-cpha;
	};

	spidev3: spi@1 {
		spi-max-frequency = <24000000>;
                reg = <0>;
                compatible = "linux,spidev";
	};
};
